input{
    border:0;
    webkit-box-shadow:none;
    box-shadow:none;
    padding: 0;
    margin: 0;
}
input[type="text"]{
    width: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.table tbody tr td{
    vertical-align: middle;
}
.table thead tr th{
    vertical-align: middle;
}